<ion-header>
  <ion-toolbar>
    <ion-title>American Animals</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<h2>About</h2>
<p>North America is a continent of varied landscapes, stretching from the Arctic wastes of the far north to the narrow land bridge of Central America in the south and bounded by the Pacific Ocean to the west and the Atlantic Ocean to the east. Just like its habitats, the wildlife of North America is extremely diverse, ranging from hummingbirds to beavers to brown bears and all kinds of biological magnificence in between. </p>

<h2>The American Beaver</h2>
<p>American beavers are stocky animals, with compact trunks and short legs; webbed feet; and broad, flat tails covered with scales. American beavers are constantly building dams—aggregations of sticks, leaves, mud, and twigs that provide these oversized rodents with deep-water habitats in which to hide from predators.Dams also provide winter shelter for other species and create wetlands. Beavers are a keystone species to an ecosystem, with their presence greatly affecting the landscape and food web wherever they reside.</p>
<p><img width="250" height="250" src="../assets/img/bver.jpg" /> </p>

<h2>The Brown Bear</h2>
<p>The brown bear is one of the largest and most powerful terrestrial carnivores of North America. This ursine has non-retractable claws that it uses primarily for digging, and it can run at a considerable clip despite its half-ton (454 kg) size—some individuals have been known to attain speeds of up to 35 mph (56 kph) in pursuit of prey.Befitting their name, brown bears possess a coat of black, brown, or tan fur with longer outer hair, often of a different color; they're also equipped with sizable muscles in their shoulders that give them the strength necessary to dig. </p>
<p><img width="250" height="250" src="../assets/img/3.jpg" /> </p>

<h2>The American Alligator</h2>
<p>Not quite as dangerous as its reputation but still populous enough in the southeastern United States to make residents anxious (especially pond and pool owners), the American alligator is a true North American institution. Some adult alligators can attain lengths of more than 13 feet (4 m) and weights of half a ton (454 kg), but most are more modestly sized. It's never a good idea to feed an American alligator, which habituates it to human contact and makes fatal attacks more likely.</p>
<p><img width="250" height="250" src="../assets/img/alli.jpg" /> </p>



</ion-content>
