<ion-header>
  <ion-toolbar>
    <ion-title>Canadian Animals</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<h2>Grizzly Bear</h2>
<p>Adult males weigh on average up to 790lbs and females up to 400lbs. Their front claws are about 204 inches long and there are about 25,000 of them in Canada. Grizzlies don’t have to worry about other predators, as they don’t have much competition in size, so other animals will usually avoid confrontation with them unless it’s in defense!</p>
<p><img width="250" height="250" src="../assets/img/3.jpg" /> </p>
<h2>Cougar</h2>
<p>Also known as the mountain lion or puma, the cougar’s range extends from the Canadian Yukon to the Southern Andes of South America. The cougar is an ambush predator and stalks its prey, hunting deer, livestock, and small species like insects and rodents. They have been known to stalk and kill humans, but this is rare and most likely due to human populations spreading into their territory.</p>
<p><img width="250" height="250" src="../assets/img/5.png" /> </p>

<h2>The Gray Wolf</h2>
<p>The gray wolf has had more books written about it than any other wildlife species. It’s the largest species of wild dogs and males average between 95-99lb. They tend to live in packs and there is always a clear hierarchy with each pack made of up an alpha pair (dominant male and female), their cubs, and offspring from previous years. A pack can include up to 36 wolves but is typically between 5 and 12. They like to hunt moose, deer, caribou, mountain sheep, and goats. There are various centers where you can see wolves and there are tours that will take you to spots where you can see them in the wild.</p>
<p><img width="250" height="250" src="../assets/img/4.png" /> </p>

<h2>Giant Canadian Goose</h2>
<p>It really is a pleasure to see these beautiful birds in flight gracing the skies. They have strong family bonds and tend to return to their natal homes to nest. There are 7 recognized species and they are the largest goose in the world, with some weighing up to 20lb! Their black heads and neck with the white chinstrap distinguish them from all other goose species. Keep a watchful eye on the skies for these.</p>
<p><img width="250" height="250" src="../assets/img/6.png" /> </p>

<h2>Whales</h2>
<p>From humpbacks to blue whales and killer whales, Canada is the perfect place to spot these magnificent creatures. You can witness 200 orcas at play at Robson Bight Ecological Preserve, BC, or if you’re in BC from March until mid-October, try and catch a glimpse of some of the 20,000 grey whales as they leave the Baja Peninsula and head for Alaska. There are plenty of tours available, and although you’re not always guaranteed to see one, some tours offer your money back if you don’t!</p>
<p><img width="250" height="250" src="../assets/img/7.png" /> </p>


</ion-content>
