<ion-header>
  <ion-toolbar>
    <ion-title>Australian Animals</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<h2>The Kangaroo</h2>
<p>An icon of Australian wildlife and the nation itself, the kangaroo is the epitome of a marsupial. Kangaroos are macropods, belonging in the family macropodidea, which literally means "big feet". There are over 65 species in the family including red and grey kangaroos, wallabys, and pademelons. These animals are all designed with huge, powerful hind limbs and muscular tails that aid them in locomotion. With its spacious, forward-facing pouch, curious hopping style of locomotion and a variety of other uniquely endearing features, the kangaroo sets the tone for all Australian wildlife.</p>
<p><img width="250" height="250" src="../assets/img/jack.jpg" /> </p>

<h2>The Koala Bear</h2>
<p>The koala bear is not actually a bear, of course. It is the only member of the family Phascolarctidae, the "arct" part of the family name from a Greek word meaning "bear", and there is definitely a "bear-like" quality to koalas, particularly in their lumbering movements and well-rounded, tailless bodies. Plush, fuzzy-eared, and with a sweet expression, koala bears are the darlings of Australian animals. They are tree-dwelling marsupials, who live the majority of their lives high in the limbs of eucalyptus forests.</p>
<p><img width="250" height="250" src="../assets/img/kyle.jpg" /> </p>

<h2>The Tasmanian Devil</h2>
<p>The Tasmanian devil is a carnivorous marsupial with an epic reputation. This is a very unique creature who has a lifestyle and manner of going about things that is entirely unique, not just among Australian wildlife, but among all animals. Wildly vocal, the Tasmanian devil emits a constant deluge of guttural, gurgling, wailing and growling noises with little, if any, instigation. The devil has an enormous head and neck which make up a full 25% of its total body mass. A relatively small animal at under 25 pounds, even the areas largest carnivore and apex predator the tough as nails dingo will not entertain any confrontation with a devil unless numbers are well in its favor. Competition with the dingo for food, and attempted extermination of them as pests, has greatly impacted the devils population.</p>
<p><img width="250" height="250" src="../assets/img/taz.jpg" /> </p>

<h2>Wombat</h2>
<p>The wombat is a terrestrial marsupial found in Australia and Tasmania. At 40 inches long and often over 70 pounds, they are the second largest marsupial with only the larger kangaroo species attaining greater adult size. Wombats also have the largest brains of all the marsupials, and are notorious for cleverly digging alternate exits to their burrows when traditional traps are placed at the entrance. Wombats do not climb like their closest relative the koala. They are entirely terrestrial and well-built for a fossorial lifestyle underground.</p>
<p><img width="250" height="250" src="../assets/img/wombat.jpg" /> </p>



</ion-content>
